<h1>Alojamiento <%= @lodging.id %></h1>
<p>
  <strong>Direccion:</strong>
  <%= @lodging.address %>
</p>
<p>
  <strong>Localidad:</strong>
  <%= @lodging.city %>
</p>
<p>
  <strong>Provincia:</strong>
  <%= @lodging.province %>
</p>